@{
    ViewData["Title"] = "Job Portals";
}
@model  Job.Models.UserMap;
@{
    var jobList = ViewBag.Message[0];
    var jobAppliedList = ViewBag.Message[1];
    var userId = ViewBag.Message[2];
}

<h1>@ViewData["Title"]</h1>

<div class="float-end box">

<form action="/home/portal/@userId" method="post">
        <input type="text" name="Id" id="Id" hidden value="@userId" >
        <input type ="submit" class="float-end" value="Search" >
        <input type="text" class="float-end" placeholder="Search" id="SearchQuery" name="SearchQuery">
</form>

</div>
<br>

<table class="table">
    <thead>
        <tr>
            <td>Job Role</td>
            <td>Company</td>
            <td>Package</td>
            <td>location</td>
            <td>Experienced Required</td>
            <td></td>
        </tr>
    </thead>
    <tbody>

            <input type="text" hidden id="Id" value ='@ViewBag.Uid'>

        @foreach(var job in jobList){
            <tr>
                <td>@job.jobRole</td>
                <td>@job.company</td>
                <td>@job.package</td>
                <td>@job.location</td>
                <td>@job.experience yrs</td>
                @if(jobAppliedList.Contains(@job.Id)){
                    <td><a class="btn btn-dark disabled" href="#"> Applied </a></td>
                }
                else{
                    <td><a  class="btn btn-outline-primary" onclick="apply('@job.Id')"> Apply Job</a></td>

                }
            </tr>
        }

    </
    </tbody>
</table>
<script>
    function apply(Jid){

        data = {
            "Id":parseInt('@userId'),
            "JId": parseInt(Jid)
        }

        fetch("/home/portal",{
            method :"PUT",
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify(data)
        }).then(response => {
           if (response.ok) {
            window.location.reload();
           }
    });}
</script>
