@model Job.Models.JobModel;
<h2 class="center">
    AdminPanel.
</h2>
@{
    var jobList = ViewBag.Message;
}

<div class="cols-3 offset-9 ">
    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create job
    </button>    
</div>

  
<div class="modal" tabindex="-1" id="exampleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="post">                <div class="form-group">
                  <label for="jobrole">Job Role:</label>
                  <input type="text" class="form-control" id="jobrole" placeholder="Enter job role" asp-for="jobRole">
                </div>
                <div class="form-group">
                  <label for="company">Company:</label>
                  <input type="text" class="form-control" id="company" placeholder="Enter company name" asp-for="company">
                </div>
                <div class="form-group">
                  <label for="package">Package:</label>
                  <input type="text" class="form-control" id="package" placeholder="Enter package" asp-for="package">
                </div>
                <div class="form-group">
                  <label for="location">Location:</label>
                  <input type="text" class="form-control" id="location" placeholder="Enter location" asp-for="location">
                </div>
                <div class="form-group">
                  <label for="experience">Experience:</label>
                  <input type="text" class="form-control" id="experience" placeholder="Enter experience" asp-for="experience">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="submit">
                </div>
            </form>

        </div>
        
        </div>
      </div>
      </div>

<table class="table">
    <thead>
        <tr>
            <td>Job Role</td>
            <td>Company</td>
            <td>Package</td>
            <td>location</td>
            <td>Experienced Required</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var job in jobList){
            <tr>
                <td>@job.jobRole</td>
                <td>@job.company</td>
                <td>@job.package</td>
                <td>@job.location</td>
                <td>@job.experience yrs</td>
                <td>
                    <a class="btn btn-outline-primary" href="/admin/edit/@job.Id"> Edit</a>
                    <a class="btn btn-outline-danger" href="?delete=1&id=@job.Id"> Delete</a>
                 </td>
            </tr>
        }
    </tbody>
</table>

<script>
const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')

</script>